@model CimscoPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgotten Password";
    ViewBag.Description = "forgotten password";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

@using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
{
    @Html.AntiForgeryToken()
    <div class="register-container animated fadeInDown">
        <div class="registerbox bg-white">
            <div class="registerbox-title">Forgotten Password</div>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="registerbox-caption ">Please your email address below</div>
            <div class="registerbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("Email Address")
            </div>
            <hr class="wide" />
            <div class="registerbox-submit">
                @Html.Bootstrap().SubmitButton().Text("SUBMIT").Color(BootstrapColors.Primary).HtmlAttributes(new { @class = "pull-right" })
            </div>
        </div>
        <div class="logobox">
        </div>
    </div>
}

@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
