@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
<ul class="breadcrumb">
    @foreach (var node in Model)
    {
        <li class="@(node != Model.Last() | node.Action == "Dashboard" ? "active" : null)">
            @*Request.Url.Segments[2] == "Dashboard"*@
            @if (node != Model.Last())
            {
                if (node == Model.First())
                {
                    @*<i class="fa fa-home"></i>*@
                    <i class="menu-icon @node.ImageUrl.Remove(0,1)"></i>
                }
                <a href="@Url.Action(node.Action, node.Controller)">
                    @node.Title
                </a>
            }
            else
            {
                if (node == Model.First())
                {
                    <i class="menu-icon @node.ImageUrl.Remove(0,1)"></i>
                }
                if (node.Action == "Dashboard")
                {
                    <a href="@Url.Action(node.Action, node.Controller)">
                        @node.Title
                    </a>
                }
                else
                {
                    @node.Title
                }
            }
        </li>
    }
</ul>
<style>
    .breadcrumb .menu-icon {
        font-size: 16px;
    }
</style>
