@{
    ViewBag.Title = "Company Dashboard";
    ViewBag.Description = "Company Dashboard";
    Layout = "~/Views/Shared/_Default.cshtml";
}

@*<div data-ng-app="companyOverview" data-ng-controller="companyOverviewViewModel">*@
<div data-ng-app="app" data-ng-controller="sitesOverview">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12" ng-show="customerList.length>0">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">{{groupCompanyDetail.groupName}}</span>
                    <div class="widget-buttons">
                        @*<a href="" widget-config></a>*@
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        <li style="list-style-type:none" ng-repeat="customer in customerList" data-ng-click="changeCompany(customer.customerId)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                            <i class="widget-icon fa fa-institution"></i>&nbsp;&nbsp;<a href="javascript:void(0);">{{customer.customerName}}</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">Company Details</span>
                    <div class="widget-buttons">
                        @*<a href="" widget-config></a>*@
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        <span><b>{{groupCompanyDetail.groupCompanyName}}</b></span><br />
                        <span>{{groupCompanyDetail.address1}}</span><br />
                        <span>{{groupCompanyDetail.address2}}</span><br />
                        <span>{{groupCompanyDetail.address3}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dashboard-box">
                            <div class="box-header">
                                <div class="deadline">
                                    {{tabTableHeader}}
                                </div>
                            </div>
                            <div class="widget-header  bordered-themeprimary">
                                <span ng-repeat="_month in monthSpanOptions" data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}"
                                      style=" padding-left:5px; padding-right:5px">
                                    <i class="widget-icon fa fa-calendar"></i>
                                    {{_month}} months
                                </span>
                            </div>
                            @*<div class="box-tabbs">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                            <li class="active">
                                                <a data-toggle="tab" href="#approvals">
                                                    Approvals
                                                </a>
                                            </li>
                                            <li ng-show="false">
                                                <a data-toggle="tab" href="#other1">
                                                    Invoice Value
                                                </a>
                                                </ling-show>
                                            <li ng-show="false">
                                                <a data-toggle="tab" href="#other2">
                                                    Consumption
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#analysis">
                                                    Totals and Analysis
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs-flat no-padding">
                                            @Html.Partial("CompanyOverviewPartials/_Approvals")
                                            @Html.Partial("CompanyOverviewPartials/_Other1")
                                            @Html.Partial("CompanyOverviewPartials/_Other2")
                                            @Html.Partial("CompanyOverviewPartials/_Analysis")
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    @*<i class="widget-icon fa fa-compress"></i>*@
                    <span class="widget-caption">
                        <strong> {{groupCompanyDetail.groupCompanyName}}</strong> - <ng-pluralize
                            count="invDistn.length" 
                        when="{'1': '{} Site,',
                               'other': '{} Sites,'}">
                        </ng-pluralize>
                    showing {{monthSpan}} months of data</span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" class="btn btn-default btn-sm">Select Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions " data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="box-tabbs">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="active">
                                    <a data-toggle="tab" href="#approvals">
                                        Approvals
                                    </a>
                                </li>
                                <li ng-show="false">
                                    <a data-toggle="tab" href="#other1">
                                        Invoice Value
                                    </a>
                                    </ling-show>
                                <li ng-show="false">
                                    <a data-toggle="tab" href="#other2">
                                        Consumption
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#analysis">
                                        Totals and Analysis
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-flat no-padding">
                                <div id="approvals" class="tab-pane animated fadeInUp no-padding-bottom active" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("CompanyOverviewPartials/_Approvals")
                                </div>

                                @Html.Partial("CompanyOverviewPartials/_Other1")
                                @Html.Partial("CompanyOverviewPartials/_Other2")
                                <div id="analysis" class="tab-pane animated fadeInUp no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("CompanyOverviewPartials/_Analysis")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
                <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5" />
            </pattern>
            <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                <rect width="80" height="80" fill="url(#smallGrid)" />
                <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1" />
            </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>*@@*<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
                <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5" />
            </pattern>
            <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                <rect width="80" height="80" fill="url(#smallGrid)" />
                <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1" />
            </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>*@
    @section PageScripts{
        @*<script src="~/Scripts/charts/flot/jquery.flot.crosshair.js"></script>*@
        <script src="~/Scripts/charts/flot/jquery.flot.crosshair.js"></script>
        @*<script src="~/Scripts/charts/flot/jquery.flot.selection.js"></script>*@
        <script src="~/Scripts/charts/flot/jquery.flot.selection.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.min.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.resize.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.axislabels.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.tooltip.js"></script>
        <script src="~/Scripts/charts/flot/angular-flot.js"></script>
        
        @*<script src="~/App/CompanyOverview/App.js"></script>
            <script src="~/App/CompanyOverview/coDataSource.js"></script>
            <script src="~/App/CompanyOverview/ViewModels/CompanyOverviewViewModel.js"></script>
            <script src="~/App/Directives/widget.js"></script>*@
        <script src="~/App/Directives/widget.js"></script>
        <script src="~/App_/core/App.js"></script>
        <script src="~/App_/core/userDataSource.data.js"></script>
        <script src="~/App_/core/sitesOverview.data.js"></script>
        <script src="~/App_/core/sitesOverview.ctrl.js"></script>
        <script src="~/App_/common/directives/widget.js"></script>
        <script src="~/App_/core/customFilters.js"></script>
        @*<script src="~/Scripts/angular-ui-utils/angular-ui-utils.js"></script>*@
        <script src="~/Scripts/angular-ui-utils/angular-ui-utils.js"></script>
    }
    <style>
        .progress-compact {
            /*background-color: #f5f5f5;
                                                        border-radius: 4px;
                                                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                                                        height: 20px;*/
            margin-bottom: 5px;
            overflow: hidden;
        }
    </style>
