@{
    ViewBag.Title = "Site Overview";
    ViewBag.Description = "Site Overview";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div data-ng-app="app.siteOverview" data-ng-controller="app.siteOverview.ctrl" data-ng-init="setSiteId(@ViewBag.siteId)">
    <input type="hidden" id="siteId" value="@ViewBag.siteId" />
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header  bordered-blue bg-themeprimary">
                    <span class="widget-caption">Site Details</span>
                    <div class="widget-buttons">
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        <h2>{{siteData.siteName}}</h2>
                        <span>{{siteData.address1}}</span>
                        <span ng-show="siteData.address2.length > 0">,{{siteData.address2}}</span>
                        <span ng-show="siteData.address3.length > 0">,{{siteData.address3}}</span>
                        <br />
                        <span>
                            Site Floor Space : {{siteData.totalFloorSpaceSqMeters}} Sq Meters
                        </span>

                        @*<span>Site id = @ViewBag.siteId</span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header  bordered-blue bg-themeprimary">
                    <span class="widget-caption">Summary Data</span>
                    <div class="widget-buttons">
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        Summary data
                    </div>
                </div>
            </div>
        </div>
    </div>
    <toaster-container></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    <span class="widget-caption"><strong> {{siteData.siteName}}</strong> - showing {{monthSpan}} months of data</span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-sm">Last {{monthSpan}} Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions" data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="box-tabbs">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="active" ng-show="true">
                                    <a data-toggle="tab" href="#consumption" ng-click="updateCC();">
                                        Charges and Consumption
                                    </a>
                                </li>
                                <li ng-show="true">
                                    <a data-toggle="tab" href="#invoices">
                                        Invoices
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content tabs-flat no-padding" ng-style="{opacity: ((loading) && .4) || 1.0}">
                                <div id="invoices" class="tab-pane animated fadeInUp no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("SiteOverviewPartials/_InvoiceList")
                                </div>
                                <div id="consumption" class="tab-pane animated fadeInUp active no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <span class="databox-number white tootip-info pull-right" data-container="body"
                                                  data-titleclass="bordered-blue" data-class="dark"
                                                  data-toggle="popover" data-placement="auto"
                                                  data-title="Site Cost and Consumption Data"
                                                  data-content="Graphs show total cost and consumption data for the selected time period. If an invoice is missing, no data point is shown."
                                                  data-original-title=""
                                                  data-trigger="hover">
                                                <i class="fa fa-2x fa-info-circle" style="color:#262626"></i>
                                            </span>
                                        </div>
                                        <div class="col-lg-10">
                                            @Html.Partial("SiteOverviewPartials/_Consumption")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section PageScripts{
        <script src="~/App_/siteOverview/siteOverview.data.js"></script>
        <script src="~/App_/siteOverview/siteOverview.ctrl.js"></script>
        <script src="~/App_/core/customFilters.js"></script>
    }

    <style type="text/css">
        span.label.label-info.pull-right {
            position: absolute;
            left: -44px;
            cursor: pointer;
        }

        .checkbox + .checkbox, .radio + .radio {
            margin-top: 10px !important;
        }

        .form-title {
            border-bottom: 3px solid #2dc3e8 !important;
        }

        .databox .databox-text {
            font-size: 15px !important;
        }

        .databox.databox-lg .databox-number {
            font-size: 16px;
            margin: 0 auto;
        }

        .databox-text .header {
            float: right;
        }

        .well.bordered-left.bordered-themeprimary {
            margin-bottom: 2px !important;
            padding: 10px !important;
        }

        @@media only screen and (max-width: 768px) {
            .databox-right.bordered-thick.bordered-sky.bg-white {
                padding: 0px 15px !important;
            }

            .databox.databox-lg .databox-number {
                font-size: 15px !important;
            }

            .databox-text.header {
                float: left;
            }

            .well.bordered-left.bordered-themeprimary {
                /*padding: 2px 5px 16px 5px !important;*/
                padding: 10px 5px -1px 5px !important;
            }

            span.label.label-info.pull-right {
                position: absolute;
                left: -47px;
                cursor: pointer;
                top: 26px;
            }

            span.btn-xs.btn-palegreen.pull-right {
                position: absolute;
                left: -22px;
                top: 35px;
            }
        }
    </style>
    <style>
        .progress-compact {
            /*background-color: #f5f5f5;
                    border-radius: 4px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                    height: 20px;*/
            margin-bottom: 5px;
            overflow: hidden;
        }
    </style>

