@{
    ViewBag.Title = "Site Overview";
    ViewBag.Description = "Site Overview";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div data-ng-app="app" data-ng-controller="app.core.siteOverview" data-ng-init="setSiteId(@ViewBag.siteId)">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">Company Details</span>
                    <div class="widget-buttons">
                        <a href="" widget-config></a>
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        Company Details and address
                        <input type="hidden" id="siteId" value="@ViewBag.siteId" />
                        <span>Site id = @ViewBag.siteId</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">Summary Data</span>
                    <div class="widget-buttons">
                        <a href="" widget-config></a>
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div>
                        Summary data
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xs-12">

                    <div class="dashboard-box">
                        <div class="box-header">
                            <div class="deadline">
                                {{tabTableHeader}}
                            </div>
                        </div>
                        <div class="widget-header  bordered-themeprimary">
                            <span ng-repeat="_month in monthSpanOptions" data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}" style=" padding-left:5px; padding-right:5px">
                                <i class="widget-icon fa fa-calendar"></i>
                                {{_month}} months
                            </span>
                        </div>
                        <div class="box-tabbs">
                            <div class="tabbable">
                                <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                    <li class="active">
                                        <a data-toggle="tab" href="#invoices">
                                            Invoices
                                        </a>
                                    </li>
                                    <li ng-show="true">
                                        <a data-toggle="tab" href="#invoicevalue">
                                            Invoice Value
                                        </a>
                                        </ling-show>
                                    <li ng-show="true">
                                        <a data-toggle="tab" href="#consumption">
                                            Consumption
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tabs-flat no-padding">
                                    <div id="invoices" class="tab-pane animated fadeInUp no-padding-bottom active" style="padding:20px 20px 0 20px;">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.Partial("SiteOverviewPartials/_InvoiceList")
                                            </div>
                                        </div>
                                    </div>
                                    <div id="invoicevalue" class="tab-pane padding-5 animated fadeInUp">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                @Html.Partial("SiteOverviewPartials/_InvoiceValue")
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div id="consumption" class="tab-pane  animated fadeInUp">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                @Html.Partial("SiteOverviewPartials/_Consumption")
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>


    @section PageScripts{

        @*<script src="~/Scripts/charts/flot/jquery.flot.crosshair.js"></script>*@
        @*<script src="~/Scripts/charts/flot/jquery.flot.selection.js"></script>*@
        <script src="~/Scripts/charts/flot/jquery.flot.min.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.orderBars.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.resize.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.axislabels.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.tooltip.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.categories.min.js"></script>
        <script src="~/App_/common/directives/angular-flot.js"></script>
        <script src="~/App_/common/directives/widget.js"></script>
        <script src="~/App_/core/App.js"></script>
        <script src="~/App_/core/userDataSource.data.js"></script>
        <script src="~/App_/core/siteOverview.data.js"></script>
        <script src="~/App_/core/siteOverview.ctrl.js"></script>
        <script src="~/App_/core/customFilters.js"></script>
        @*<script src="~/Scripts/angular-ui-utils/angular-ui-utils.js"></script>*@

    }

    <style>
        .progress-compact {
            /*background-color: #f5f5f5;
                    border-radius: 4px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                    height: 20px;*/
            margin-bottom: 5px;
            overflow: hidden;
        }
    </style>

